.nam1 {
    font:13pt Verdana;
}
/*  font:13pt Verdana;(dạng chữ kích cỡ 13,kiểu verdana)
         */
.nam2 {
    font:13pt Tahoma;
}
.nam3{
    font:13pt "Time New Roman";
}
.totnghiep {
    font:13pt Verdana;
    color:red;
}